body
{
    padding: 0;
    margin:0;
    background-color: silver;
    
}

.anime
{
    padding: 0;
    margin:0;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.aurora
{
    position:absolute;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    min-height: max-content;
}
.block
{
    position:absolute;
    width: 2vw;
    height: 2vh;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border: transparent 2px solid;
    border-radius: 7%; 
    z-index: 1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
.top
{
    z-index: 99999;
}